extends ../../layout/default.pug

block content
    .search-page
        .search-wrapper
            h2.search-title Tìm kiếm 🔍
            p.search-sub Tìm bài hát, nghệ sĩ hoặc thể loại bạn yêu thích

            .search-page-bar 
                form(
                    class="search-form"
                    method="GET" 
                    action="/search/result"
                )
                    input(class="search-input"
                        type="text"
                        name="keyword"
                        placeholder="Nhập tên bài hát..."
                        value=keyword
                    )
                    button.search-button(type="submit") Tìm
                ul(class="search-suggest")
                if(songs)
                    div(class="songs-list")
                        each song, index in songs
                            div(
                                class="song-row"
                                onclick=`playSong('${song._id}')`
                            )
                                div(class="song-left")
                                    span(class="song-index") #{index + 1}
                                    img(
                                        class="song-thumb"
                                        src=song.avatar , 
                                        alt=song.nameSong
                                    )

                                    div(class="song-info")
                                        a(href=`/songs/detail/${song.slug}`)
                                            div(class="song-title") #{song.nameSong}
                                        div(class="song-artist") #{song.infoSinger.fullName}

                                button(
                                    class=`btn-favorite ${favorite == "1" ? "favorite" : ""}`
                                    data-song-id-favorite=song._id
                                ) 
                                    span(class="text") ♥ Yêu thích