extends ../../layout/default
include ../../mixin/pagination.pug
include ../../mixin/pagination.pug
include ../../mixin/filterStatus.pug
block content
    div(class="dashboard")

        // FILTER
        +filterStatus

        // SEARCH
        ddiv(class="search-bar")
            form(
                method="GET"
                form-search
            )
                input(
                    type="text", 
                    placeholder="Tìm kiếm tài khoản"
                    name="keyword"
                    value=keyword
                )
            a(
                href=`${prefixAdmin}/roles/create`
                class="btn-add"
            )
                i(class="fa fa-plus")
                |  Thêm mới

        // TABLE
        table(class="table")
            thead
                tr
                    th STT
                    th Tiêu đề
                    th Mô tả
                    th Trạng thái
                    th Thao tác

            tbody
                each item, index in role
                    tr
                        td #{index + 1}
                        td #{item.title}
                        td !{item.description}
                        td 
                            if(item.status === "active")
                                button(
                                    class="status active"
                                    id-status=item._id
                                    status = item.status
                                ) Active
                            else
                                button(
                                    class="status inactive"
                                    id-status=item._id
                                    status = item.status
                                ) Inactive
                        td(class="action-btns")
                            button(
                                class="btn-delete" 
                                data-id=item._id 
                                btn-delete
                                title="Xóa"
                            )
                                i(class="fa fa-trash")
                            a(
                                href=`${prefixAdmin}/roles/edit/${item._id}`
                                class="btn-edit" 
                                data-id=item._id 
                                title="Sửa"
                            )
                                i(class="fa fa-pen")
    .pagination-wrapper
        +pagination

    form(
        action = `${prefixAdmin}/roles`
        id="form-get-path"
    )
    form(
        action = `${prefixAdmin}/roles/delete`
        method="POST"
        id="form-delete"
    )