aside.sidebar
    .logo
        | Sóng Nhạc 
        span.logo-dot

    div.sidebar
        div.nav-label Khám phá

    ul(class="nav-list")
        li(class="nav-item active")
            a(href="/") Trang chủ

        li(class="nav-item")
            a(href="/search") Tìm kiếm

        li(class="nav-item")
            a(href="/library") Thư viện

        li(class="nav-item")
            a(href="/songs/favorite-songs") Yêu thích

    .playlists
        div(class="nav-label") Danh sách phát

        //- each item in playlists
        //-     .playlist-item
        //-         .playlist-thumb(style=`background:${item.bg}`)= item.icon
        //-         div
        //-             div(style="font-size:0.85rem;font-weight:500;color:var(--dark)")= item.name
        //-             div(style="font-size:0.72rem;color:var(--brown)")= item.count
    // 🔥 AUTH ACTIONS
    .auth-actions
        if user
            div(class="user-info")
                span Xin chào, #{user.fullName}
            a(
                class="btn-logout"
                href="/users/logout"
            ) Đăng xuất
        else
            a(
                class="btn-login"
                href="/users/login") Đăng nhập
            a(
                class="btn-register"
                href="/users/register") Đăng ký