aside.sidebar
    .logo
        | Sóng Nhạc 
        span.logo-dot

    ul(class="nav-list")
        li(class="nav-item")
            a(href="/") Khám phá

        li(class="nav-item")
            a(href="/search") Tìm kiếm

        li(class="nav-item")
            a(href="/topics") Chủ đề
        li(class="nav-item")
            a(href="/songs") Bài hát
        li(class="nav-item favorite")
            a(href="/songs/favorite-songs") Yêu thích

    .playlists
        div(class="nav-label") Danh sách phát
    // 🔥 AUTH ACTIONS
    .auth-actions
        if user
            div(class="user-info")
                span Xin chào, #{user.fullName}
            a(
                class="btn-logout"
                href="/users/logout"
            ) Đăng xuất
        else
            a(
                class="btn-login"
                href="/users/login") Đăng nhập
            a(
                class="btn-register"
                href="/users/register") Đăng ký
    script(src="/client/JS/sidebar.js") 