extends ../../layout/default
include ../../mixin/pagination.pug
block content
    div(class="dashboard")

        // STAT CARDS
        div(class="stats")
            div(class="card")
                p Tổng bài hát
                h2 1,248
                span(class="up") ↑ 12 bài tuần này

            div(class="card")
                p Lượt nghe hôm nay
                h2 8,462
                span(class="up") ↑ 5.2%

            div(class="card")
                p Người dùng
                h2 3,891
                span(class="up") ↑ 24

            div(class="card")
                p Yêu thích
                h2 15,703
                span(class="down") ↓ 1.1%

        // FILTER
        div(class="tabs")
            span(class="active") Tất cả
            span Đã đăng
            span Bản nháp
            span Ẩn

        // SEARCH
        div(class="search-bar")
            form(
                method="GET"
                form-search
                
            )
                input(
                    type="text", 
                    placeholder="Tìm kiếm thể loại"
                    name="keyword"
                )

        // TABLE
        table(class="table")
            thead
                tr
                    th STT
                    th Hình ảnh
                    th Thể loại
                    th Mô tả
                    //- th Bài hát
                    th Trạng thái
                    th Thời gian
                    th Thao tác

            tbody
                each item, index in topics
                    tr
                        td #{index + 1}
                        td  
                            img(
                                src=item.avatar
                                width="60"
                            )
                        td #{item.title}
                        td #{item.description}
                        td 
                            if(item.status === "active")
                                button(
                                    class="status active"
                                    id-status=item._id
                                    status = item.status
                                ) Active
                            else
                                button(
                                    class="status inactive"
                                    id-status=item._id
                                    status = item.status
                                ) Inactive
                        td #{item.createAt}
                        td(class="action-btns")
                            button(
                                class="btn-edit" 
                                data-id=item._id 
                                title="Sửa"
                            )
                                i(class="fa fa-pen")
                            button(
                                class="btn-delete" 
                                data-id=item._id 
                                title="Xóa"
                            )
                                i(class="fa fa-trash")
    .pagination-wrapper
        +pagination

    form(
        action = `${prefixAdmin}/topics`
        id="form-get-path"
    )